@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    cursor: default;
}

body {
    height: 100vh;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: minmax(100px, 200px) minmax(200px, 100%);
    grid-template-rows: 150px minmax(100px, 100%);
}

.container-grid-item {
    border: solid 1px;
}

.sidebar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: rgb(5, 155, 255);
    color: white;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}

.button:hover {
    background-color: rgb(0, 132, 219);
}

.button img {
    height: 20px;
    width: 20px;
    text-align: center;
    margin-left: 5px;
}

h1 {
    margin-bottom: 15%;
    font-size: larger;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#logo {
    height: 30px;
    width: 30px;
}

.community {
    margin-bottom: 15%;
}

header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px calc(100% - 60px);
}

header > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-input {
    height: 23px;
    margin-right: 25%;
    width: 50%;
    border-radius: 15px;
    background-color: rgb(235, 235, 235);
    border: none;
}

.search-icon {
    margin-left: 25px;
    margin-right: 15px;
    height: 20px;
    width: 20px;
}

.header-profile-pic {
    margin-right: 15px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.name {
    font-weight: 600;
    font-size: large;
}

.header-item {
    border: solid 1px;
}

header :nth-child(2) {
    display: flex;
    flex-direction: row;
}

header :nth-child(2) img {
    height: 40px;
    width: 40px;
    margin-left: 30px;
    margin-right: 20px;
    border-radius: 50%;
}

header :nth-child(2) p {
    font-weight: 600;
    margin-right: 40%;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.buttons button {
    background-color: rgb(0, 132, 219);
    border-radius: 15px;
    width: 80px;
    height: 30px;
    text-align: center;
    color: white;
    font-weight: 600;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0;
}

button div {
    border: 0;
}