* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: minmax(100px, 200px) minmax(200px, 100%);
    grid-template-rows: 150px minmax(100px, 100%);
}

.container-grid-item {
    border: solid 1px;
}

.sidebar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}